# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Native
android/
ios/

# Environment / secrets
.env
.env.local
.env.*.local

# Firebase service account keys (NEVER commit)
*serviceAccountKey*.json
google-services.json
GoogleService-Info.plist

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Editor
.vscode/
.idea/